@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: rgb(155, 152, 148);
  @apply w-full min-h-screen bg-[#9A3B3B];
}
